extends layout

block content
	h1 Wheater API con nodejs
	h3 Tiempo en #{title}
	p Consultar cómo esta el tiempo en...
	input(placeholder="Ingresar ciudad")#ciudad
	button(type="text")#consultar Consultar
	div
	
